.Footer {
  height: 64px;
  line-height: 64px;
  background-color: gray;
  color: white;
}

.Footer .youtube {
  margin: 0 16px;
  display: flex;
  float: right;
}

.Footer .blog {
  margin: 0 16px;
  display: flex;
  float: right;
}

.Footer .twitter {
  margin: 0 16px;
  display: flex;
  float: right;
}
